{block content}

    <a class="btn btn-primary" n:href="default">
           Zpět
      </a>
    <h3><i class="fa fa-angle-right"></i> Nový produkt</h3>
    <div class="row col-md-12">
        <div class="content-panel">
            {include bootstrap-form productForm}
        </div>
    </div>
{/block}